<div class="welcome" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
  <section>
    <img src="./assets/no_pain_no_gain.svg">
    <p>Stay active and enjoy better health and more fun!</p>
  </section>
  <section>
    <img src="./assets/resting_gym_face.svg">
    <p>Get to know other people who share your passion!</p>
  </section>
  <section>
    <img src="./assets/wake_up_make_things_happen.svg">
    <p>Never stop! Dive into new challenges every day!</p>
  </section>
</div>
